.design-size {
  /* ✏️ EDIT: Adjust width and height to match your design dimensions.
     Examples:
     - Standard Google Slide: 960px × 720px (4:3 aspect ratio)
     - Widescreen Slide: 1280px × 720px (16:9 aspect ratio)
     - Custom: Set to your design's actual dimensions
  */
  width: 960px;
  height: 720px;
}

/* ✏️ EDIT: Add your CSS styling for the design here!
   IMPORTANT: Nest all your rules inside .my-design so they only affect YOUR design.
   Example:
   
   .my-design {
     background: #f0f0f0;
     padding: 20px;
     
     h1 {
       color: #333;
       font-size: 48px;
     }
   }
*/
.design-size {
  flex-shrink: 0;
}
.my-design {
  /* ✏️ Delete this sample and add your design rules here */
  background-color: rgb(25, 48, 122);

  h1 {
    color: rgb(200, 220, 255);
    text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}

.bricks {
  display: grid;
  grid-template-areas:
    "google-chrome school-account school-account"
    "print-issues print-issues right-printer";
.google-chrome {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-right: 53%;
  margin-bottom:0px;
}
.google-chrome img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  padding:5px;
}
.school-account {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-left: 53%;
  margin-bottom:2%;
  margin-top:-18%;
}
.school-account img {
  padding: 2px;
  width: 290px;
  height: 200px;
  margin-left: auto;
}
.print-issues {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-right: 49%;
  margin-top: -10%;
}
.print-issues img {
  padding: 2px;
  width: 270px;
  height: 150px;
  margin-left: auto;
}
.right-printer {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-left: 55%;
  margin-top: -13%;
}

li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin-right:45px;
  margin-top:5px;
  font-size:15px;
}
