.design-size {
  /* ✏️ EDIT: Adjust width and height to match your design dimensions.
     Examples:
     - Standard Google Slide: 960px × 720px (4:3 aspect ratio)
     - Widescreen Slide: 1280px × 720px (16:9 aspect ratio)
     - Custom: Set to your design's actual dimensions
  */
  width: 960px;
  height: 720px;
}

/* ✏️ EDIT: Add your CSS styling for the design here!
   IMPORTANT: Nest all your rules inside .my-design so they only affect YOUR design.
   Example:
   
   .my-design {
     background: #f0f0f0;
     padding: 20px;
     
     h1 {
       color: #333;
       font-size: 48px;
     }
   }
*/

.my-design {
  /* ✏️ Delete this sample and add your design rules here */
  background-color: rgb(25, 48, 122);

  h1 {
    color: rgb(168, 196, 255);
    font-size: 48px;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
  }
}
.google-chrome {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-right: 55%;
}
.google-chrome img {
  width: 100px;
  height: 115px;
  margin-left: auto;
}
.school-account {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-left: 55%;
  margin-top: -30.8%;
}
.school-account img {
  padding: 2px;
  width: 240px;
  height: 200px;
  margin-left: auto;
}
.print-issues {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-right: 50%;
  margin-top: -10%;
}
.print-issues img {
  padding: 2px;
  width: 270px;
  height: 150px;
  margin-left: auto;
}
.right-printer {
  color: rgb(168, 196, 255);
  font-size: 15px;
  text-align: center;
  border: 2px solid rgb(255, 91, 91);
  border-width: 5px;
  border-radius: 20px;
  margin-left: 55%;
  margin-top: -23%;
  height:150px;
}

li {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  margin-right:45px;
  margin-top:5px;
  font-size:15px;
}
